@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Helvetica Now Display";
}

@keyframes marquee-left {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
  }
  
  @keyframes marquee-right {
    0% { transform: translateX(-50%); }
    100% { transform: translateX(0%); }
  }
  
  .marquee-left {
    animation: marquee-left 10s linear infinite;
  }
  
  .marquee-right {
    animation: marquee-right 10s linear infinite;
  }
  

  @layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}