@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Helvetica Now Display";
}

@keyframes marquee-left {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
  }
  
  @keyframes marquee-right {
    0% { transform: translateX(-50%); }
    100% { transform: translateX(0%); }
  }
  
  .marquee-left {
    animation: marquee-left 10s linear infinite;
  }
  
  .marquee-right {
    animation: marquee-right 10s linear infinite;
  }
  

  @layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

 .gradient-text {

  background: linear-gradient(180deg, #e26817 7.74%, #C0971C 8.96%, #FFE976 24.67%, #C0971C 41.04%, #e16919 3.74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-family: Arial, sans-serif;
}

:root{
  
--Dark-grey: #121117;

}